<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<!-- 	<script src="/js/datatable.js"></script> -->
    <title>Registro de Clase</title>
</head>
<body>
	
	
	
	<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">  
                        <h3><i class="glyphicon glyphicon-user" style="font-size:2em;"></i></h3>
                        <h2 class="text-center">Registro de Clase</h2>
                        <div class="panel-body">
                            <div th:if="${param.success}">
                                <div class="alert alert-info">
                                    !Se registro la clase satisfactoriamente!
                                </div>
                            </div>

                            <form id="frmClase" method="post">
				

                                <div class="form-group">
	                                <h2>Bienvenido</h2>
									<div sec:authentication="name" ></div>
								</div>
								<div class="form-group">
	                                <label class="form-control">Fecha de clase</label>
	                                <input id="fechaConsulta" data-date-format="yyyy-mm-dd" class="form-control" width="276" placeholder="Confirmar fecha"  />
                                </div>
                                <div class="form-group">
                                	<label class="form-control">Sección</label>
                                	<select disabled="disabled"> 
                                		<option id="1" >3 años A</option>
                                	</select>
                                </div>
                                <div class="form-group">
                                    <button type="button" onclick="consultar()" class="btn btn-success btn-block">Consultar</button>
                                    <button type="button" onclick="intento()" class="btn btn-success btn-block">Intentar</button>
                                </div>
                            </form>
							<table id="alumnosTable" class="display">
      
						       <!-- Header Table -->
						       <thead>
						            <tr>
						                <th>Id</th>
										<th>Documento</th>
						                <th>Nombre</th>
						                <th>Email</th>
						                <th>Telefono</th>
						                <th>¿Calificado?</th>
						                <th>Calificar</th>
						            </tr>
						        </thead>
						        <!-- Footer Table -->
						        <tfoot>
						            <tr>
						                <th>Id</th>
										<th>Documento</th>
						                <th>Nombre</th>
						                <th>Email</th>
						                <th>Telefono</th>
						                <th>¿Calificado?</th>
						                <th>Calificar</th>
						            </tr>
						        </tfoot>
						    </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    <!-- Modal -->
	<div id="mdCalificacion" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Calificacion</h4>
	      </div>
	      <div class="modal-body">
	      <div class="form-group">
	      	<input type="hidden" id="idAlumno" name="idAlumno" />
             <label class="form-control">Documento</label>
             <input id="docAlumno" name="docAlumno" readonly="readonly" />
            </div>
	        <div class="form-group">
             <label class="form-control">Nombre del Alumno</label>
             <input id="nombreAlumno" name="nombreAlumno" readonly="readonly" />
            </div>
            <div class="form-group">
             <label class="form-control">Actividad</label>
             <select id="selActividad" name="selActividad">
             	   <option value="" >---Seleccione---</option> 
                   <option value="1" >Actidad 1</option>
                   <option value="2" >Actidad 2</option>
                   <option value="3" >Actidad 3</option>
			</select>
            </div>
            <div class="form-group">
             <label class="form-control">Recursos Didácticos</label>
<!--              	<select id="selRecurso" name="selRecurso"> -->
<!--              	</select> -->
				<div id="dvRecurso"></div>
            </div>
<!--             <div class="form-group"> -->
<!--              <label class="form-control">¿Lo utilizó?</label> -->
<!--              	<input type="radio" name="utilizo" value="0"> SI</input> -->
<!-- 				<input type="radio" name="utilizo" value="1"> NO</input> -->
<!--             </div> -->
            
	      </div>
	      <div class="modal-footer">
	      	<button type="button" onclick="grabarClase()" class="btn btn-default" data-dismiss="modal">Guardar</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	
	  </div>
	 </div>
    <script type="text/javascript">
    var table;
    $(document).ready( function () {
//    	 $('#fechaConsulta').datepicker();
   	$("#fechaConsulta").datepicker({ dateFormat: 'yy-mm-dd' });
//    	var table = $('#alumnosTable').DataTable( {
//    	    paging: false
//    	} );
   });
    
    
    function abrirCalificacion(id, nombre, doc){
    	console.log(id);
    	console.log(nombre);
    	console.log(doc);
    	$('#nombreAlumno').val(nombre);
    	$('#docAlumno').val(doc);
    	$('#idAlumno').val(id);
    	
    	$('#mdCalificacion').modal('show');
    }
    
    $('#selActividad').on('change', function() {
    		$('#dvRecurso').empty();
			if($('#selActividad').val() == '1'){
// 				$('#selRecurso').append('<option value="1">Recurso 1A</option>');
// 				$('#selRecurso').append('<option value="2">Recurso 1B</option>');
// 				$('#selRecurso').append('<option value="3">Recurso 1C</option>');
// 				$('#selRecurso').append('<option value="4">Recurso 1D</option>');
				var check1 = $('<input type="checkbox" id="checkRecurso" name="checkRecurso" value="1"> Recurso 1A</input>');
				var check2 = $('<input type="checkbox" id="checkRecurso" name="checkRecurso" value="2"> Recurso 1B</input>');
				var check3 = $('<input type="checkbox" id="checkRecurso" name="checkRecurso" value="3"> Recurso 1C</input>');
				var check4 = $('<input type="checkbox" id="checkRecurso" name="checkRecurso" value="4"> Recurso 1D</input>');
				check1.appendTo('#dvRecurso');
				check2.appendTo('#dvRecurso');
				check3.appendTo('#dvRecurso');
				check4.appendTo('#dvRecurso');
			}else if($('#selActividad').val() == '2'){
// 				$('#selRecurso').append('<option value="5">Recurso 2A</option>');
// 				$('#selRecurso').append('<option value="6">Recurso 2B</option>');
// 				$('#selRecurso').append('<option value="7">Recurso 2C</option>');
// 				$('#selRecurso').append('<option value="8">Recurso 2D</option>');
				var check1 = $('<input type="checkbox" id="checkRecurso" name="checkRecurso" value="5"> Recurso 2A</input>');
				var check2 = $('<input type="checkbox" id="checkRecurso" name="checkRecurso" value="6"> Recurso 2B</input>');
				var check3 = $('<input type="checkbox" id="checkRecurso" name="checkRecurso" value="7"> Recurso 2C</input>');
				var check4 = $('<input type="checkbox" id="checkRecurso" name="checkRecurso" value="8"> Recurso 2D</input>');
				check1.appendTo('#dvRecurso');
				check2.appendTo('#dvRecurso');
				check3.appendTo('#dvRecurso');
				check4.appendTo('#dvRecurso');
			}else if($('#selActividad').val() == '3'){
// 				$('#selRecurso').append('<option value="9">Recurso 3A</option>');
// 				$('#selRecurso').append('<option value="10">Recurso 3B</option>');
// 				$('#selRecurso').append('<option value="11">Recurso 3C</option>');
// 				$('#selRecurso').append('<option value="12">Recurso 3D</option>');
				var check1 = $('<input type="checkbox" id="checkRecurso" name="checkRecurso" value="9"> Recurso 3A</input>');
				var check2 = $('<input type="checkbox" id="checkRecurso" name="checkRecurso" value="10"> Recurso 3B</input>');
				var check3 = $('<input type="checkbox" id="checkRecurso" name="checkRecurso" value="11"> Recurso 3C</input>');
				var check4 = $('<input type="checkbox" id="checkRecurso" name="checkRecurso" value="12"> Recurso 3D</input>');
				check1.appendTo('#dvRecurso');
				check2.appendTo('#dvRecurso');
				check3.appendTo('#dvRecurso');
				check4.appendTo('#dvRecurso');
			}
    		 
    	});
    
    function consultar(){
//     	$.ajax({
//     		url: 'http://localhost:8080/alumno/listalumnos/'+$('#fechaConsulta').val(),
//     		success: function(respuesta) {
//     			console.log(respuesta);
//     		},
//     		error: function() {
//     	        console.log("No se ha podido obtener la información");
//     	    }
//     	});
//     	$('#alumnosTable').empty();
//         $('#myTable').empty();

		var formattedDate = new Date($('#fechaConsulta').val());
		var d = formattedDate.getDate();
		var m =  formattedDate.getMonth();
		m += 1;  // JavaScript months are 0-11
		var y = formattedDate.getFullYear();
		
		var fecha = "" + d + m + y;
    	var table = $('#alumnosTable').DataTable({
   			"sAjaxSource": "/alumno/listalumnos/"+fecha,
   			"sAjaxDataProp": "",
   			"order": [[ 0, "asc" ]],
   			"paging": false,
   			"bDestroy": true,
   			"aoColumns": [
   			    { "mData": "id"},
   			 	{ "mData": "persona.documento" },
   			 	{ "mData": "persona.name" },   				  
   				{ "mData": "persona.email" },
   				{ "mData": "persona.telefono" },
   				{ "mData": "calificado" },
   	            {"mRender": function (data, type, full) {
                 return '<a href="#" onclick="abrirCalificacion('+full.id+',\''+full.persona.name+'\','+full.persona.documento+')" class="btn btn-primary ImprimirTicket">Calificar</a>'
                 }
   	            }
   			],
   			
   	 })
    }
    
    function grabarClase(){
    	
    	var formattedDate = new Date($('#fechaConsulta').val());
		var d = formattedDate.getDate();
		var m =  formattedDate.getMonth();
		m += 1;  // JavaScript months are 0-11
		var y = formattedDate.getFullYear();
		
		var fech = "" + d + m + y;
		
		var recursos = [];
		var rsc = "";
		
		$.each($("input[name='checkRecurso']:checked"), function(){
			recursos.push($(this).val());
        });
		
		$.each(recursos, function( index, value ) {
			  if(index==0){
					rsc = recursos[index];
				}else{
					rsc += ","+ recursos[index];
				}
			});
		
    	$.ajax({
    		url: 'http://localhost:8080/alumno/grabarClase',
    		type:"POST",
    		data:JSON.stringify({"fecha":fech, "idAlumno":$('#idAlumno').val(), "actividad":$('#selActividad').val(), "recursos":rsc }),
    		contentType:"application/json; charset=utf-8",
    		dataType:"json",
    		success: function(respuesta) {
    			console.log(respuesta);
    			consultar();
    		},
    		error: function() {
//     	        console.log("No se ha podido obtener la información");
				consultar();
    	    }
    	});
//     	$('#alumnosTable').empty();
//         $('#myTable').empty();

    }
    
    
 // **************************************
 // *  Tensorflow - Estilos aprendizaje  *
 // **************************************

 // console.log('Redes neuronales');
 // tf.tensor([2,4,1,7,5,2], [2,3]).print();

 // Creamos el modelo
 const model = tf.sequential();
 // Capa oculta
 const hidden = tf.layers.dense({
     units: 4,
     inputShape: [6],
     activation: "sigmoid"
 });
 // Agregamos la capa oculta al modelo
 model.add(hidden);
 // Capa de salida
 const output = tf.layers.dense({
     units: 3,
     activation: "sigmoid"
 });
 // Agregamos la capa de salida al modelo
 model.add(output);

 // Optimizador 
 // mientras mayor el nro mayor el costo para el equipo
 const sgdOptions = tf.train.sgd(0.1); 
 // Compilamos el modelo
 // model.compiler({
//      optimizer: sgdOptions,
//      loss: tf.losses.meanSquaredError /*Asignamos la forma de reducir la perdida*/
 // });
 // meanSquaredError: evita que las perdidas sean negativas
 // elevando todas las perdidas al cuadrado asi volverlas +

 // Datos:
 const xArray = [
     [0,0,0,0,1,1],  
     [0,0,0,1,1,0],
     [1,1,0,0,0,0],
     [0,1,1,0,0,0],
     [0,0,1,1,0,0],
     [0,0,1,1,1,0],
   ];
 const yArray = [
     [0,0,1], /**visual */
     [0,0,1], /**visual */
     [1,0,0], /**logico */
     [1,0,0], /**logico */
     [0,1,0], /**corporal */
     [0,1,1], /**corporal */
 ];
 // Create a dataset from the JavaScript array
 const xDataset = tf.data.array(xArray);
 const yDataset = tf.data.array(yArray);

 const xyDataset = tf.data.zip({xs: xDataset, ys: yDataset})
                 .batch(4)
                 .shuffle(4);

 async function intento() {
     model.compile({optimizer: sgdOptions, loss: 'meanSquaredError'});    
     const history = await model.fitDataset(xyDataset, {
                         epochs: 1000,
                         callbacks: {onEpochEnd: (epoch, logs) => console.log(logs.loss)}
                     });
     // Se ejecuta la modelo de la red con 100 iteraciones
     // bajo la tecnica de descenso de gradiente buscando minizar el error a cero
     console.log('history', history.history.loss[0]);

     // const xs = tf.tensor([0,0,0,0,1,1]);
     // let pred = model.predict(tf.tensor1d([0, 0, 0, 0, 1, 0])).print();
     // var readable_output = pred.dataSync();
     // console.log(readable_output);

     // const result = await model.evaluate([0, 0, 0, 0, 1, 0], outputs, {batchSize: 64});
     // console.log('Accuracy is:')
     // result[1].print()
 }

 // intento();
    </script>
</body>
</html>